
.classic-button {
    background:#2C3E50;
    border: none;
    border-radius: 10px;
    padding: 5px 14px 5px 14px;
    margin: 0px 0px 25px 0px;
    outline: 0;

    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
    color: white;

    /* Transitions */
    transition: background-color 0.10s;
}

.classic-button:disabled, .classic-button[disabled] {
  background-color: #cccccc;
  color: #666666;
}

/* Highlight effects hover */
.classic-button:hover {
    background-color: rgba(23, 34, 44, 1);
}

/* Highlight effects click */
.classic-button:active {
    background-color: rgb(44, 62, 80);
}

.button-area button {
    margin: 0px 10px 25px 10px;
}