
.email-verification {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    overflow: auto; /* Control screen resizing */
    position: relative;
    background-color: white;
    padding: 30px 0px 0px 0px; /* Padding around content */

    /* Items perfectly centered in box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0% 38% 0%; /* Box dimensions */

    /* Shadow effect  */
    border: 1px solid #efefef;
    box-shadow:
        0 1px 5px rgba(0,0,0,0.15),
        0 10px 0 -5px #eee;
}

.email-verification p {
    text-align: center;
    margin-bottom: 30px;
}