.toolbar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #FF9933;
  height: 56px;


}

.toolbar_navigation {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar__logo {
  margin-left: .5rem;
}

.toolbar__logo a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}

.spacer {
  flex: 1;
}

.toolbar_navigation-items ul,
.toolbar_navigation-about ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: felx;
}

.toolbar_navigation-items li,
.toolbar_navigation-about li {
  padding: 0 0.5rem;
  float: left;
}

.toolbar_navigation-items a,
.toolbar_navigation-about a {
  color: black;
  text-decoration: none;
}

.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active,
.toolbar_navigation-about a:hover,
.toolbar_navigation-about a:active {
  color: #2C3E00;
}

.toolbar_navigation-items a:visited,
.toolbar_navigation-about a:visited {
  color: #2C3E50
}



@media(max-width: 768px) {
  .toolbar_navigation-items {
    display: none;
  }
}

@media (min-width: 769px) {
    .toolbar__toggle-button {
      display: none;
    }

    .toolbar__logo {
      margin-left: 0;
    }

}
