.landing {
    text-align: center;
}

.button {
    border: none;
    border-radius: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
    background:#333;
}