
.signin-form {
    margin-top: 20px;
    color: #2C3E50;

    /* Items perfectly centered in box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-form label {
    margin-left: 10px;
    font-size: 14px;
}

.signin-form input[type=text], .signin-form input[type=password]{
    font-size: 15px;
    color: #2C3E50;
    padding-left: 8px;
    outline: none;

    /* Box design */
    margin: 7px 10px 30px 10px;
    width: 280px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid;
    border-color: white;
    background-color: #F4F6F6;

    /* Transitions */
    transition: border 0.5s, border-bottom 0.5s, background-color 0.5s;
}

/* Highlight effects hover */
.signin-form input[type=text]:hover, .signin-form input[type=password]:hover {
    border: 1px solid orange;
}

/* Highlight effects press */
.signin-form input[type=text]:focus, .signin-form input[type=password]:focus { 
    border-bottom: 1px solid orange;
    background-color:  #eef1f1;
}

.signin-form button {
    border: none;
    border-radius: 10px;
    font-size: 17px;
    letter-spacing: 1px;
    color: white;
    background:#2C3E50;
}