
.signin-form {
    margin-top: 4%;
    color: #2C3E50;

    /* Items perfectly centered in box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signin-form label {
    margin-left: 2%;
    font-size: 13px;
}

.signin-form input[type=text], .signin-form input[type=password]{
    font-size: 15px;
    color: #2C3E50;
    padding-left: 10px;
    outline: none;

    /* Box design */
    margin: 3% 1% 10% 1%;
    width: 290px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid;
    border-color: white;
    background-color: #F4F6F6;

    /* Transitions */
    transition: border 0.5s, border-bottom 0.5s, background-color 0.5s;
}

/* Highlight effects hover */
.signin-form input[type=text]:hover, .signin-form input[type=password]:hover {
    border: 1px solid orange;
}

/* Highlight effects writing */
.signin-form input[type=text]:focus, .signin-form input[type=password]:focus { 
    border-bottom: 1px solid orange;
    background-color:  #eef1f1;
}

.signin-form button {
    background:#2C3E50;
    border: none;
    border-radius: 10px;
    padding: 1.5% 4% 1.5% 4%;

    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
    color: white;

    /* Transitions */
    transition: background-color 0.10s;
}

/* Highlight effects hover */
.signin-form button:hover {
    background-color: #1f2b38;
}

/* Highlight effects click */
.signin-form button:active {
    background-color: #3d5771;
}