body {
    margin: 0;
    background-color: whitesmoke;
}


.sign-up-form {
    overflow: auto;
    background-color: white;
    padding: 30px 0px 30px 0px; /* Padding around content */

    /* Items perfectly centered in box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 50px 800px; /* Box dimensions */

    /* Shadow effect  */
    border: 1px solid #efefef;
    box-shadow:
        0 1px 5px rgba(0,0,0,0.15),
        0 10px 0 -5px #eee;
}

.sign-up-form h2 {
    color: #2C3E50;
}

.sign-up-form button {
    background: #2C3E50;
}

.button {
    border: none;
    border-radius: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
    background:#2C3E50;
    justify-content: center;
    align-items: center;
}

.button-success {
    border: none;
    border-radius: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
    background: #2C3E50;
    padding: 10px;
}

.button-dark {
    border: none;
    border-radius: 20px;
}

.select-box {
  position: relative;
  display: block;
  width: auto;
  margin-top: 10px;
  margin-bottom: none;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #60666d;
  justify-content: center;
  align-items: center;
}

.logo {
    max-width: 10%;
    object-fit: contain;
    
}
