
.classic-button {
    background:#2C3E50;
    border: none;
    border-radius: 10px;
    padding: 5px 14px 5px 14px;
    margin: 0px 0px 25px 0px;
    outline: 0;

    font-size: 17px;
    letter-spacing: 1px;
    font-weight: 500;
    color: white;

    /* Transitions */
    transition: background-color 0.10s;
}

.classic-button:disabled, .classic-button[disabled] {
  background-color: #cccccc;
  color: #666666;
}

/* Highlight effects hover */
.classic-button:hover {
    background-color: #1f2b38;
}

/* Highlight effects click */
.classic-button:active {
    background-color: #3d5771;
}