
.classic-form {
    margin-top: 20px;
    color: #2C3E50;

    /* Items perfectly centered in box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.text-input label {
    margin-left: 11px;
    font-size: 13px;
}

.text-input input {
    font-size: 15px;
    color: #2C3E50;
    padding-left: 8px;
    outline: none;

    /* Box design */
    margin: 7px 10px 30px 10px;
    width: 290px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid;
    border-color: white;
    background-color: #F4F6F6;

    /* Transitions */
    transition: border 0.5s, border-bottom 0.5s, background-color 0.5s;
}

/* Highlight effects hover */
.text-input input:hover {
    border: 1px solid #ff9933;
}

/* Highlight effects writing */
.text-input input:focus { 
    border-bottom: 1px solid #ff9933;
    background-color:  #eef1f1;
}

.select-input{
    padding: 10px 10px 20px 10px;
}


/* Style this better */
.select-input select {
    margin: 10px;
    width: 150px;
    padding: 5px 5px 5px 5px;
    font-size: 15px;
    border: 1px solid #ccc;
    height: 34px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.checkbox-input {
    list-style-type: none;
    display: grid;
    grid-template-columns: 143px 143px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding-inline-start: 0%;
    margin-block-start: 0%;
    margin-block-end: 60px;
}
  
.checkbox-input li {
    display: inline-block;
}
  
.checkbox-input input[type="checkbox"] {
    display: none;
}
  
.checkbox-input label {
    border: 1px solid #fff;
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
}
  
.checkbox-input label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid #ff9933;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}
  
.checkbox-input label img {
    height: 100px;
    width: 100px;
    transition-duration: 0.3s;
    transform-origin: 50% 50%;
    border-radius: 20px;
}
  
.checkbox-input :checked + label {
    border-color: #ff9933;
    border-radius: 20px;
}
  
.checkbox-input :checked + label:before {
    content: "✓";
    background-color: #ff9933;
    transform: scale(1);
}
  
.checkbox-input :checked + label img {
    transform: scale(0.9);
    z-index: -1;
}

.aligned-inputs {
    display: flex; /* Display side by side */
}

.aligned-inputs input {
    width: 250px;
}

.compensate-input input {
    width: 536px;
}

.text-error input {
    border: 1px solid #ff9933; 
    margin: 7px 10px 0px 10px;
}

.text-error label {
    color: #ff9933;
}

.error-msg {
    margin-left: 11px;
    font-size: 13px;
    color: #ff9933;
    margin-bottom: 30px;
}

.link-area {
    width: 100%;
    background-color: #ff9933;

    text-align: center;
    font-size: 16px;
}

.link-text {
    font-family: Helvetica, Arial, sans-serif;
    color: black;
}

.link {
    color: black;
    text-decoration: none;
    font-weight: 600;

    /* Transitions */
    transition: text-decoration 2s;
}

/* Highlight effects hover */
.link:hover {
    text-decoration: underline;
}

