
.classic-form {
    margin-top: 20px;
    color: #2C3E50;

    /* Items perfectly centered in box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.text-input label {
    margin-left: 11px;
    font-size: 13px;
}

.text-input input {
    font-size: 15px;
    color: #2C3E50;
    padding-left: 8px;
    outline: none;

    /* Box design */
    margin: 7px 10px 30px 10px;
    width: 290px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid;
    border-color: white;
    background-color: #F4F6F6;

    /* Transitions */
    transition: border 0.5s, border-bottom 0.5s, background-color 0.5s;
}

/* Highlight effects hover */
.text-input input:hover {
    border: 1px solid #ff9933;
}

/* Highlight effects writing */
.text-input input:focus { 
    border-bottom: 1px solid #ff9933;
    background-color:  #eef1f1;
}

.aligned-inputs {
    display: flex; /* Display side by side */
}

.aligned-inputs input {
    width: 250px;
}

.compensate-input input {
    width: 536px;
}

.text-error input {
    border: 1px solid #ff9933; 
    margin: 7px 10px 0px 10px;
}

.text-error label {
    color: #ff9933;
}

.error-msg {
    margin-left: 11px;
    font-size: 13px;
    color: #ff9933;
    margin-bottom: 30px;
}

.link-area {
    width: 100%;
    background-color: #ff9933;

    text-align: center;
    font-size: 16px;
}

.link-text {
    font-family: Helvetica, Arial, sans-serif;
    color: black;
}

.link {
    color: black;
    text-decoration: none;
    font-weight: 600;

    /* Transitions */
    transition: text-decoration 2s;
}

/* Highlight effects hover */
.link:hover {
    text-decoration: underline;
}

