.home {
    background-color: whitesmoke;
}

.home_title {
    text-align: center;
    margin-bottom: 30px;
} 

.navbar{
    padding: 5px;
}

.navbar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2C3E50;
}

.navbar li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.navbar li button {
    font-size: 15px;
    background-color: #2C3E50;
    color: white;
    border: none;
}

.navbar li button:hover {
    background-color: white;
    color: black;
    border: none;
}

.navbar li button:active {
    background-color: black;
    color: white;
    border: none;
}

.app_window{
    overflow: auto; /* Control screen resizing */
    position: relative;
    background-color: white;
    padding: 30px; /* Padding around content */

    /* Items perfectly centered in box */
       

    margin: 3% 30%; /* Box dimensions */

    /* Shadow effect  */
    border: 1px solid #efefef;
    box-shadow:
        0 1px 5px rgba(0,0,0,0.15),
        0 10px 0 -5px #eee;
}

.logo {
    max-width: 15%;
    object-fit: contain;
}

.food {
    max-width: 100%;
    padding-top: 30px;
    object-fit: contain;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {

}