.home {
    margin-top: 40px;
}

.app-window{
    overflow: auto; /* Control screen resizing */
    position: relative;
    background-color: white;
    padding: 30px; /* Padding around content */
       
    margin: 3% 30%; /* Box dimensions */

    /* Shadow effect  */
    border: 1px solid #efefef;
    box-shadow:
        0 1px 5px rgba(0,0,0,0.15),
        0 10px 0 -5px #eee;
}

.logo {
    max-width: 15%;
    object-fit: contain;
}

.food {
    max-width: 100%;
    padding-top: 30px;
    object-fit: contain;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 