
.main-logo {
    width: 100%; /* Size */
    height: 100%;

    /* Animation supported in multiple browsers */
    -webkit-transition: transform 1s ease;
    -moz-transition: transform 1s ease;
    -ms-transition: transform 1s ease;
    -o-transition: transform 1s ease;
    transition: transform 1s ease;
}

.main-logo:hover {
    transform: translateX( -1px ) rotateY( 180deg ); /* ALSO EXTRA TRANSFORM PROPERTIES ADDED FOR COMPATIBILITY*/
    -ms-transform: translateX( -1px ) rotateY(180deg); /* IE 9 */
    -webkit-transform: translateX( -1px ) rotateY(180deg); /* Chrome, Sa fari, Opera */
}

.regular-logo-container {
    width: 100px;
}