
.menu {
    height: 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 60px;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
}
  
.menu.open {
transform: translateX(0%);
}

.menu img {
    height: 76px;
    margin-right:2%;
    float: left;
}

.info {
    width:42%;
    float: left;
}

.clearfix {
    clear:both
}

.button {
    border: none;
    border-radius: 20px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    color: white;
    background:#333;
}