.App {
  overflow: auto; /* Control screen resizing */
  position: relative;
  background-color: white;
  padding: auto; /* Padding around content */

  /* Items perfectly centered in box */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   

  margin: 3% 41%; /* Box dimensions */

  /* Shadow effect  */
  border: 1px solid #efefef;
  box-shadow:
      0 1px 5px rgba(0,0,0,0.15),
      0 10px 0 -5px #eee;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 11vmin;
  padding-top: 32px;
}

.App-header {
  background-color: white;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

h3 {
  color: #2C3E50;
  text-align: center;
}